.userDetailsForm{
    display: flex;
    height: 75.9vh;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(236, 118, 66, 255);
}
.formLeft{
    background-color: white;
    padding: 45px;
    padding-bottom: 20px;

}
.formRight{
    background-color: white;
    padding: 45px;

}

form{
    display: flex;
    font-size: 140%;    
    margin-bottom: 30px;
}

form input, form textarea{
    border-radius: 5px;
    font-size: 80%;
    width: 330px;
    margin-bottom: 7px;
    border: 1px black solid;
    outline: none;
    box-shadow: none;
    padding: 5px;
}

form textarea{
    resize: none;
}

form p{
    margin-top: 15px;
    font-size: 54%;
}

form span{
    margin: 0;
    color: rgb(39, 190, 241);
}

#btnSubmit{
    margin-top: 20px;
    padding: 4px;
    width: 341px;
    background-color: rgba(236, 118, 66, 255);
    color: white;
}

#btnSubmit:hover{
    color: black;
    font-weight: bold;
    cursor: pointer;
}