.accountDatails{
    width: 100%;
    /* height: 80vh; */
    display: flex;
  }
  .accountDatails .navLefts form label, .accountDatails .navRight form label{
    font-size: 75%;
  }
  .navLefts .titleDetails, .navRight .titleResetPassword{
    font-size: 130%;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .accountDatails .navLefts, .accountDatails .navRight{
    display: flex;
    flex-direction: column;
    padding-top: 60px;
  }
  .accountDatails .navLefts{
    /* border-right: 1px solid black; */
    flex:55%;
    padding-left: 190px;
    box-sizing: border-box;
  }
  .accountDatails .navRight{
    flex:45%;
  }
  
  .accountDatails .navLefts form, .accountDatails .navRight form{
    display: flex;
    flex-direction: column;
  }
  
  .accountDatails .navLefts form, .accountDatails .navRight form{
    width: 400px;
    box-shadow: 0 0 3px rgba(75, 74, 74, 0.4), 0 0 4px rgba(75, 74, 74, 0.4);
    border-radius: 10px;
    padding: 30px;
  }
  
  .accountDatails .navRight form{
    height: 464px;
  }
  
  .accountDatails input[type="text"], .accountDatails input[type="password"], .accountDatails input[type="email"], .accountDatails input[type="number"]{
    padding: 7px;
    border-radius: 7px;
    border: 1px rgb(133, 132, 132) solid;
  }
  
  .accountDatails form label{
    margin-bottom: 3px;
    margin-top: 8px;
  }
  
  #btnUpdateProfile{
    margin-top: 30px;
  }
  #btnResetPassword{
    margin-top: 30px;
  }
  #btnUpdateProfile:hover, #btnResetPassword:hover{
    color: black;
  }
  
  #btnUpdateProfile, #btnResetPassword{
    height: 34px;
    border: none;
    background-color: rgb(236, 118, 66);
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
      
      