.forgotDiv{
    background-color: rgba(236, 118, 66, 255);
    display: flex;
    height: 75.9vh;
    align-items: center;    
    justify-content: space-around;
    
}

.forgotPasswordDiv{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 48px;
    padding-bottom:20px ;
    width: 410px;
    box-sizing: border-box;
}

.otp4 input {
    font-size: 19px; /* Adjust the size as needed */
    width: 23px; /* Adjust the width as needed */
    margin: 0 5px 0 0; /* Adjust the margin as needed */
    padding: 5px; /* Adjust the padding as needed */
    text-align: center; /* Center the text inside the input */
}
.otpSend{
    display: flex;
}

.otpSend button{
    flex: 1;
}

.forgotPasswordDiv form{
    display: flex;
    flex-direction: column;
}

form input{
    width: 96%;
}

#btnResetPassword{
    width: 100%;
    
}

#btnResetPassword:hover{
    color:black;
    font-weight: bold;
    cursor: pointer;
}

#btnSend, #btnHandle{
    border: none;
    background-color: rgba(236, 118, 66, 255);
    margin-bottom: 15px;

}
#btnSend{
    padding: 6px;
    border-radius: 6px;
    font-size: 18px;
}
#btnHandle{
    padding: 6px;
    border-radius: 6px;
    font-size: 18px;
}

#btnSend:hover{
    color:black;
    font-weight: bold;
    cursor: pointer;
}
#selectPara{
    margin-bottom: 20px;
}