.loginSignin{
    width: 100%;
    height: 86vh;
    background-color: rgba(236, 118, 66, 255);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-image: url('../images/basket.png');
    background-repeat: no-repeat;
    background-position: 1200px 60px;
    background-size: 620px;

}
.loginSignin h1 {
    vertical-align: middle; /* Center-align the text */

}

.loginSignin {
    padding-top: 10%;
    padding-left: 7%;
    font-size: 150%;
}

.btns{
    display: inline-block;
    margin-top: 35px;
}
#btnLog{
    background-color: black;
    color: white;
    margin-right: 15px;
    padding: 10px 20px;
    border-radius: 12px;
}
label{
    font-size: smaller;
}

a{
    text-decoration: none;
    color: white;
}

#btnSign{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 12px;
}

.btns a:hover {
    color: rgba(236, 118, 66, 255);
    cursor: pointer;
}


.announcement-container {
    box-sizing: border-box;
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px;
    display: flex;
    margin-right: 50px;
    overflow: hidden; /* This is important to hide the overflow content */
}

.announcement {
    margin-right: 25px;
    margin-left: 25px;
    animation: move-rtl 10000ms linear infinite;
    white-space: nowrap; /* Prevents text from wrapping to the next line */
}

span {
    margin-left: 25px;
    margin-right: 25px;
}

@keyframes move-rtl {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}




.productArticle {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 6%;
    background-image: url('../images/srilankaBackground.png'); /* Replace 'your-image-path.jpg' with the actual path to your image */
    background-size: cover; /* Adjust the background size as needed */
    background-position: center; /* Adjust the background position as needed */
    justify-content: center;
}
.articleOne, .articleTwo, .articleThree{
    display: flex;
    flex-direction: row;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    
}

.columnOne {
    flex: 1;
    display: flex;    
}

.articleTwo .columnTwo{
    margin: 80px;    
}

.columnTwo {
    flex: 1;
    justify-content: center; /* Center horizontally */
    
}
.columnTwo p, .columnTwo h3{
    font-size: 140%;
    width: 600px;
    text-align: justify;
    
}

#imgEle{
    width: 80%;
}

#imgDrum{
    width: 80%;
}

#imgMask{
    width: 78%;

}