.SellerSelectAndView{
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
}
.SellerSelectAndView .sidebar{
    flex: 10%;
    /* border: 2px red solid; */
}

.SellerSelectAndView .dashboard{
    flex: 75%;

}