.loginForm {
    display: flex;
    height: 75.9vh;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(236, 118, 66, 255);
}
.userInputs {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 50px;
}

#lblForgotPass {
    font-size: 60%;
    margin-left: auto;
    text-decoration: underline;
}

input[type="text"]{
    margin-top: 4px;
}

label{
    font-size: 80%;
}

#txtUsername{
    margin-bottom: 23px;

}

#btnLogin{
    margin-top: 30px;
    padding: 6px;
    width: 341px;
    background-color: rgba(236, 118, 66, 255);
    color: white;
    border: none;
}

.or{
    display: inline-block;

}

#lblForgotPass{
    color: black;
}

#createSeller {
    color: blue;
    font-size: 60%;
    text-decoration: underline;
}