.sideBar{
    width: 100%;
    background-color: white;
    height: 135vh;
    box-sizing: border-box;
    /* padding-left: 75px; */
}
.sideBar .options{
    padding: 35px;
    margin-left: 37px;
    background-color: rgba(251,228,217,255);
    box-sizing: border-box;
    width: 100%;
    height: 95vh;
}
.options .sidebarNavLinks a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    border-bottom: 1px black solid;
    font-size: 127%;
    margin-bottom: 10px;
    padding: 10px;
    color: rgb(86, 86, 86);

}
.options .sidebarNavLinks a:hover{
    color: black;
}