.sideBar{
    width: 310px;
    background-color: rgba(233,228,217,255);
    height: 75vh;
    margin-top: 30px;
    /* padding-left: 75px; */
    margin-left: 60px;
    margin-bottom: 10px;             /*   */
}
.sideBar .options{
    padding: 35px;
    background-color: rgba(251,228,217,255);
    box-sizing: border-box;
}
.options .sidebarNavLinks a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    border-bottom: 1px black solid;
    font-size: 127%;
    margin-bottom: 10px;
    padding: 10px;
    color: rgb(86, 86, 86);

}
.options .sidebarNavLinks a:hover{
    color: black;
}